.body{
    font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
color: #434455
}
.main-page{
    width: 1440 px;
height: 2592 px;
background-color: #FFF;
}
